{% extends "react-template.html" %}
{% block body %}
<h1>list of students from view of employer</h1>
    
    <table>
        <tr>
            <th>student_id</th>
            <th>status</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>gender</th>
            <th>professor_name</th>
            <th>year_of_graduation</th>
            <th>degree</th>
            <th>projectId</th>
            <th>programming_language</th>
        </tr>
        {% for s in STUDENTS %}
        <tr>
            <td>{{s.student_id}}</td>
            <td>{{s.status}}</td>
            <td>{{s.first_name}}</td>
            <td>{{s.last_name}}</td>
            <td>{{s.email}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.professor_name}}</td>
            <td>{{s.year_of_graduation}}</td>
            <td>{{s.degree}}</td>
            <td>{{s.projectId}}</td>
            <td>{{s.programming_language}}</td>

        </tr>
        {% endfor %}
    </table>

{% endblock %}