{% extends "react-template.html" %}
{% block body %}
<h1>list of students from view of employer</h1>
    
    <table>
        <tr>
            <td>email</td>
            <td>favorite</td>
        </tr>
        {% for s in STUDENTS %}
        <tr>
            <td>
                <form>
                    <input type="checkbox" name="emailMe">
                    <input type="hidden" name="{{s._id}}">
                </form>
            </td>
            <td>
                <!-- IF s._id is in the employers favorite list make it checked, else unchecked -->
                <input type="checkbox" name="favored">
            </td>
            <td>{{s.first_name}},{{s.last_name}}</td>
            <td>{{s.degree}}, {{s.year_of_graduation}}</td>
            <td>{{s.programming_language}}</td>
            <td><a href="/employer/list/student/id/{{s._id}}">More Info</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}