{% extends "react-template.html" %}
{% block body %}


<div class ="image">   
    <img src="../static/concordia-logo.jpg" alt="Logo" width="400"  height="125";>
</div>

<div class ="object1">    
    </div>

    <table class = "table">
        <thead>
        <tr>
            <td>email</td>
            <td>favorite</td>
            <th>Full name</th>
            <th>Degree</th>
            <th>Technologies</th>
            <th>More Info </th>

        </tr>
        </thead>
        {% for s in STUDENTS %}
        <tbody>
        <tr>
            <td>
                <form>
                    <input type="checkbox" name="emailMe">
                    <input type="hidden" name="{{s._id}}">
                </form>
            </td>
            <td>
                <!-- IF s._id is in the employers favorite list make it checked, else unchecked -->
                <input type="checkbox" name="favored">
            </td>
            <td>{{s.first_name}},{{s.last_name}}</td>
            <td>{{s.degree}}, {{s.year_of_graduation}}</td>
            <td>{{s.programming_language}}</td>
            <td><a href="/admin/list/student/id/{{s._id}}"><img  alt="More" src="../static/more-horizontal-outline.png" width="25" height="25"></a></td>
        </tr>
        </tbody>>
        {% endfor %}
    </table>
    <a href="/clearsession">LOGOUT</a>
{% endblock %}