{% extends "react-template.html" %}
{% block body %}
<div class ="image">   
    <img src="../static/concordia-logo.jpg" alt="Logo" width="400"  height="125";>
</div>

<div class ="object1">    
    </div>



    <table class = "table">
        <thead>
            <tr>
                <th>Archive</th>
                <th>Edit</th>
                <th>Full name</th>
                <th>Degree</th>
                <th>Technologies</th>
                <th>More Info </th>
            </tr>
            </thead>
        {% for s in STUDENTS %}
        <tbody>
        <tr>
            <td><a href=""><img  alt="archive" src="../static/archive-outline.png" width="25" height="25"> </a></td> <!-- ADD FUNCTIONALITY TO ARCHIVE A STUDENT -->
            <td><a href="/staff/list/student/editstudent/{{s._id}}"><img  alt="Update" src="../static/edit-outline.png" width="25" height="25"></a> </td> <!-- ADD FUNCTIONALITY TO EDIT A STUDENT -->
            <td>{{s.first_name}} {{s.last_name}}</td>
            <td>{{s.degree}}, {{s.year_of_graduation}}</td>
            <td>{{s.programming_language}}</td>
            <td><a href="/staff/list/student/id/{{s._id}}"><img  alt="Update" src="../static/more-horizontal-outline.png" width="25" height="25"></a> </td> <!-- ADD FUNCTIONALITY TO EDIT A STUDENT -->
        </tr>
        </tbody>
        {% endfor %}
        <tr>
            <td><a href="/staff/list/student/addstudent"><img  alt="addStudent" src="../static/person-add-outline.png" width="25" height="25"></a></td>
        </tr>
    </table>
    <a href="/staff/pannel">VISIT STAFF PANNEL</a>.

{% endblock %}