{% extends "react-template.html" %}
{% block body %}
<h1>list of students from view of staff</h1>
    
    <table>
        {% for s in STUDENTS %}
        <tr>
            <td><a href="">archive</a></td> <!-- ADD FUNCTIONALITY TO ARCHIVE A STUDENT -->
            <td><a href="">unarchive</a></td> <!-- ADD FUNCTIONALITY TO UN-ARCHIVE A STUDENT -->
            <td><a href="">edit</a></td> <!-- ADD FUNCTIONALITY TO EDIT A STUDENT -->
            <td>{{s.first_name}},{{s.last_name}}</td>
            <td>{{s.degree}}, {{s.year_of_graduation}}</td>
            <td>{{s.programming_language}}</td>
            <td><a href="/staff/list/student/id/{{s._id}}">More Info</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href="/staff/list/student/addstudent">Add User</a></td>
        </tr>
    </table>

{% endblock %}