{% extends "react-template.html" %} {% block body %}
<form
  method="post"
  action="/staff/list/studentUpdated/"
  enctype="multipart/form-data"
>
  <input type="hidden" value="{{STUDENT._id}}" name="id" />
  {{ I18N["Student Id"][LANG]}}
  <input
    type="text"
    value="{{STUDENT.student_id}}"
    name="student_id"
    required
  />
  <br />
  {{ I18N["First Name"][LANG]}}
  <input
    type="text"
    value="{{STUDENT.first_name}}"
    name="first_name"
    required
  />
  <br />
  {{ I18N["Last Name"][LANG]}}
  <input type="text" value="{{STUDENT.last_name}}" name="last_name" required />
  <br />
  {{ I18N["Email"][LANG]}}
  <input type="email" value="{{STUDENT.email}}" name="email" required /> <br />
  {{ I18N["Gender"][LANG]}}
  <select type="text" value="{{STUDENT.gender}}" name="gender">
    <option>{{ I18N["Male"][LANG]}}</option>
    <option>{{ I18N["Female"][LANG]}}</option>
    <option>{{ I18N["I prefer not to say"][LANG]}}</option>
  </select>
  {{ I18N["Professor Name"][LANG]}}
  <input
    type="text"
    value="{{STUDENT.professor_name}}"
    name="professor_name"
    required
  />
  <br />
  {{ I18N["Year of Graduation"][LANG]}}
  <input
    type="text"
    value="{{STUDENT.year_of_graduation}}"
    name="year_of_graduation"
    required
  />
  <br />
  {{ I18N["Degree"][LANG]}}
  <select name="degree" required>
    <option value="{{STUDENT.degree}}">{{STUDENT.degree}}</option>
    {%for d in DEGREES%}
    <option>{{d["name_degree"]}}</option>
    {%endfor%}</select
  ><br />
  {{ I18N["Project Id"][LANG]}}
  <select name="projectId" required>
    <option value="{{STUDENT.projectId}}">{{STUDENT.projectId}}</option>
    {%for p in PROJECTS%}
    <option>{{p["project_name"]}}</option>
    {%endfor%}
  </select>
  {{ I18N["Programming Language"][LANG]}}
  <input
    type="text"
    value="{{STUDENT.programming_language}}"
    name="programming_language"
    required
  />
  <br />

  <input type="hidden" name="old_pdf_string" value="{{STUDENT.resume}}" />

  {{ I18N["Submit student Resume"][LANG]}}
  <input type="file" name="pdf_file" accept="application/pdf" />
  <br />

  <button type="Submit">{{ I18N["Update Student"][LANG]}}</button>
</form>
{% endblock %}
