{% extends "react-template.html" %}

{% block body %}
<h1>Edit a student from the admin view</h1>
<form method="post" action = "">

    Enter Student Id
    <input type="text" value ="{{STUDENT.student_id}}" name = "student_Id">
     <br>

    
    Enter Students First Name
    <input type="text" value ="{{STUDENT.first_name}}" name = "first_name"> <br>

    
    Enter Students Last Name
    <input type="text" value ="{{STUDENT.last_name}}"name = "last_name"> <br>

    
    Enter Students Email
    <input type="text" value ="{{STUDENT.email}}" name= "email"> <br>

    
    Enter Students Gender
    <select type = "text" value ="{{STUDENT.gender}}" name = "gender">
        <option>Male</option>
        <option>Female</option>
        <option>Prefer to not display</option>


    </select>
    Enter Students Professor Name 
    <input type="text", name= "professor_name"> <br>


    Enter Students Year of Graduation
    <input type="text", name = "year_of_graduation"> <br>

    Enter Students Degree
    <input type="text", name= "degree"> <br>

    Enter Students Project Id
    <input type="text", name="project_Id"> <br>

    Enter Students Programming Language
    <input type="text", name= "programming_language"> <br>


  </form>
{% endblock %}