
h1{
    color:aqua;
}
table, th, td {
    padding: 15px;

}





.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;



}
thead{

background-color: #912338;
padding:0.75rem 2rem;
text-transform: uppercase;
letter-spacing: 0.1rem;
font-size: 0.7rem;
font-weight: 900;
color: #cbb576;
text-align: center;

}
tbody:nth-child(even){

padding: 1rem 2rem; 
background-color: #c8c8c8;


}
tbody:nth-child(odd){

    padding: 1rem 2rem; 
    background-color: #f0f0f0;
    
    
    }
.object1{
    height: 125px;
    width: 1500px;
    background-color:  #912338;

    position:absolute;
    top:0px;
    right: 0px;
}