h1{
    color:#cbb576;
}
table, th, td {
    padding: 15px;

}





.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;



}
thead{

background-color: #912338;
padding:0.75rem 2rem;
text-transform: uppercase;
font-size: 0.9em;
font-weight: bold;
color: #cbb576;
text-align: center;
}
tbody:nth-child(even){

padding: 1rem 2rem; 
background-color:  #f0f0f0;


}
tbody:nth-child(odd){

    padding: 1rem 2rem; 
    background-color: #e0dede ;
    
    
    }
.object1{
    height: 125px;
    width: 1510px;
    background-color:  #912338;
    z-index: -1;
    position:absolute;
    top:0px;
    right: 0px;
}

.image{
    position:absolute;
    top:0px;
    left: 0px;

    
}
.title{
    text-align: center;
    padding: 12px;
}

.createStudent{
    text-align:center; 
    padding: 85px;
}
fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius:6px;
    min-width: 200;


}
label{

    display: block;
    margin-top: 1em;

}
.checks label{

    margin-top: 0;

}

.button {
 
    
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }