{% extends "react-template.html" %}

{% block body %}
<h1>ADMIN PANNEL</h1>
<h3>all degrees</h3><br>
<ul>
    {%for d in DEGREES%}
        <li>{{d["name_degree"]}}</li>
        <form action="/admin/pannel/deletedegree" method="POST">
            <input type="hidden" name="id" value='{{d["_id"]}}'>
            <button type="Submit">DELETE</button>
        </form>
    {%endfor%}

    <form action="/admin/pannel/adddegree" method="POST">
        <input type="hidden" name="degree_id" value="1"></input><br>
        name of degree:<input type="text" name="name_degree"></input><br>
        description:<input type="text" name="description"></input><br>
        <input type="Submit" value="add">
    </form>

</ul><br>

<h3>all projects</h3><br>
<ul>
    {%for p in PROJECTS%}
        <li>{{p["project_name"]}}</li>
        <form action="/admin/pannel/deleteproject" method="post">
            <input type="hidden" name="project_id" value='{{p["_id"]}}'>
            <button type="Submit">DELETE</button>
        </form>
    {%endfor%}

    <form action="/admin/pannel/addproject" method="POST">
        <input type="hidden" name="project_id" value="1"></input><br>
        name of degree:<input type="text" name="project_name"></input><br>
        description:<input type="text" name="project_description"></input><br>
        <input type="Submit" value="add">
    </form>

</ul><br>
{% endblock %}