{% extends "react-template.html" %}

{% block body %}
<h3>'{{ I18N["all degrees"][LANG]}}'</h3><br>
<ul>
    {%for d in DEGREES%}
        <li>{{d["name_degree"]}}</li>
        <form action="/staff/pannel/deletedegree" method="POST">
            <input type="hidden" name="id" value='{{d["_id"]}}'>
        </form>
    {%endfor%}

    <form action="/staff/pannel/adddegree" method="POST">
        <input type="hidden" name="degree_id" value="1"></input><br>
        {{ I18N["name of degree"][LANG]}}:<input type="text" name="name_degree"></input><br>
        {{ I18N["description"][LANG]}}:<input type="text" name="description"></input><br>
        <input type="Submit" value="add">
    </form>

</ul><br>

<h3>{{ I18N["all projects"][LANG]}}</h3><br>
<ul>
    {%for p in PROJECTS%}
        <li>{{p["project_name"]}}</li>
        <form action="/staff/pannel/deleteproject" method="POST">
            <input type="hidden" name="project_id" value='{{p["_id"]["$oid"]}}'>
        </form>
    {%endfor%}

    <form action="/staff/pannel/addproject" method="POST">
        <input type="hidden" name="project_id" value="1"></input><br>
        {{ I18N["name of project"][LANG]}}:<input type="text" name="project_name"></input><br>
        {{ I18N["description"][LANG]}}:<input type="text" name="project_description"></input><br>
        <input type="Submit" value='{{ I18N["ADD"][LANG]}}'>
    </form>
</ul><br>
{% endblock %}