<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scipts.js"></script>
    <link rel="stylesheet" href="../../static/login-styles.css"></link>

</head>
<body>
<div id="container">

    <div id="left-side">
      <img src="../static/concordia.jpg" alt="Background Image">
    </div>

    <div id="right-side">

      <div id="logo-container">
        <img src="../../static/concordia-logo.jpg" alt="">
      </div>

      <form action="/internalUser/login" method="POST">
        <div id="pill">
            <a id="half-one" href="/internalUser" style="background-color:#e5a712">Internal User Login</a>
            <a id="half-two" href="/" style="background-color:#912338">Employer Login</a>
          </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input name="email" type="text" id="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input name="password" type="password" id="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Log In</button>
        <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p>Value: <span id="demo"></span></p>
        </div>
        <small><a href="/admin" style="color: #912338">admin login</a></small>

      </form>
    </div>
  </div>
 
</body>
</html>
