{% extends "react-template.html" %}
{% block body %}
<div class ="image">   
  <img src="../static/concordia-logo.jpg" alt="Logo" width="400"  height="125";>
</div>


<div class ="object1">    
</div>
<div class="title">
<h1>New Student Profile</h1>
</div>
<div class = createStudent>

  

  <form method="post" action = "/admin/list/student/studentadded">

    <fieldset>
      <table>
    <label for="student_Id">Enter Student Id: </label>
    <input type="text" name= "student_Id" placeholder="Student ID ">
<br>
<label for="first_name">Enter Student First Name: </label>
<input type="text", name = "first_name" placeholder="First name"> <br>

<label for="last_name">Enter Student Last Name: </label>
    <input type="text", name = "last_name" placeholder="Last Name"> <br>

    <label for="email">Enter Student Email: </label>
    <input type="text", name = "email" placeholder="Email Address"> <br>

    <label for="professor_name">Enter Professor Name: </label>
    <input type="text", name= "professor_name" placeholder="Professor Name"> <br>

    <label for="year_of_graduation">Enter Student Year Of Graduation: </label>
    <input type="text" , name= "year_of_graduation" placeholder="Graduation Year"> <br>

    <label for="degree">Select a Student Degree: </label>
    <select name = "degree">
      {%for d in DEGREES%}
        <option>{{d["name_degree"]}}</option>
      {%endfor%}
    </select>
    <br>
    
    

    <label for="projectId">Enter Student Project: </label>
    <select name = "projectId">
      {%for p in PROJECTS%}
        <option>{{p["project_name"]}}</option>
      {%endfor%}
    </select>

    <br>

    <label for="Technological">Enter Student Technological Aptitudes: </label>
    
    <textarea name="textarea" rows="7" cols="30", placeholder="List Technological Aptitudes"></textarea>

    <br>


    <input type= "submit" value="Add Students"/>
  </table>
    </fieldset>
  </form>  
</div>
{% endblock %}
