{% extends "react-template.html" %}
{% block body %}
<div class ="image">   
  <img src="../static/concordia-logo.jpg" alt="Logo" width="400"  height="125";>
</div>



    <h1 class="title" >Add a student from the admin view</h1>
  <form method="post" action = "/admin/list/student/studentadded">
    Enter Student Id
    <input type="text" name  = "student_Id">
     <br>
    Enter Students First Name
    <input type="text", name = "first_name"> <br>
    Enter Students Last Name
    <input type="text", name = "last_name"> <br>
    Enter Students Email
    <input type="text", name = "email"> <br>
    Enter Students Gender
    <select name = "gender">
        <option>Male</option>
        <option>Female</option>
        <option>I prefer not to say </option>
      </select>
    Enter Students Professor Name 
    <input type="text", name= "professor_name"> <br>
    Enter Students Year of Graduation
    <input type="text" , name= "year_of_graduation"> <br>
    Choose Students Degree
    <select name = "degree">
      {%for d in DEGREES%}
        <option>{{d["name_degree"]}}</option>
      {%endfor%}
    </select><br>
    
    Enter Students Project Id
    <select name = "projectId">
      {%for p in PROJECTS%}
        <option>{{p["project_name"]}}</option>
      {%endfor%}
    </select>
    Enter Students Programming Language
    <input type="text", name= "programming_language"> <br>
    <input type= "submit" value="Add Students"/>
  </form>  
{% endblock %}
